* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #f1f8e9;
    color: #212121;
}

.header {
    width: 100%;
    height: 70px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(to right, #fff, #f0f0f0);
    z-index: 1;
}

.header a.back-button,
.header .profile-icon {
    text-decoration: none;
    color: #212121;
    font-size: 24px;
    font-weight: 700;
     transition: color 0.3s ease;
}

.header a.back-button:hover,
.header .profile-icon:hover {
    color: #00bcd4;
}

.header-title {
    font-size: 1.3rem;
    font-weight: 500;
    color: #212121;
    margin-left: 10px;
}

.body {
    display: flex;
    justify-content: center;
    margin-top: 90px;
    margin-bottom: 30px;
}

.box-avata {
    display: flex;
    align-items: center;
    margin-left: 30px;
    width: 80%;
}
.avata-wrapper {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: rgba(0, 188, 212, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
     transition: transform 0.3s ease;
    margin-right: 20px;
}
.avata {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #00bcd4;
    overflow: hidden;
}
.avata-wrapper:hover{
    transform: scale(1.05);
}

.avata img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nickname {
    padding-left: 20px;
}

.nickname p {
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 15px;
     color: #212121;
}

.infor {
    list-style: none;
    display: flex;
    color: #555;
}

.infor li {
    margin-right: 15px;
    font-size: 14px;
}

.Follow-button {
    background-color: #00ffff;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    color: #333;
    transition: all 0.3s ease;
}

.box {
    width: 80%;
    background-color: transparent;
    margin-bottom: 20px;
}

.box-box {
    display: flex;
    justify-content: center;
}

.gioi-thieu {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.card {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
}

.section-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #212121;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.section-title i {
    margin-right: 10px;
}
.about-info {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}
.info-item {
  display: flex;
  align-items: center;
    margin-bottom: 10px;
}
.info-item p {
  margin-left: 10px;
  line-height: 1.6;
  color: #555;
  font-size: 1.1rem;
}
.info-item i {
  font-size: 2rem;
  color: #ff4081;
    margin-right: 5px;
}
#following-section {
  margin-bottom: 20px;
}
.users-list {
  display: flex;
  flex-wrap: wrap;
}
.user-item {
  margin: 5px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
    transition: transform 0.3s ease;
}
.user-item:hover {
  transform: scale(1.1);
}

.user-item img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.works-section p{
   font-style: italic;
    padding-left: 10px;
}
.comment-section {
  padding: 10px;
}

.comment-form {
  display: flex;
  margin-bottom: 15px;
}
.mybox {
  margin-top: 20px;
  width: 100%;
  background: white;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.up {
  width: auto;
  white-space: nowrap;
  height: 40px;
  padding: 10px 15px;
  margin-left: 15px;
  background: #00bcd4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
    transition: background-color 0.3s ease;
  font-size: 1rem;
  display: flex;
  align-items: center;
}
.up i {
  margin-right: 5px;
}
.up:hover {
  background: #00bcd4;
}
textarea {
  margin-top: 10px;
  width: 100%;
  border: 1px solid #ddd;
  padding: 10px;
  resize: none;
  border-radius: 5px;
  font-size: 1rem;
}
.comment {
  display: flex;
}
.words {
  width: 80%;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
}
.word {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 20px;
  padding-bottom: 10px;
  font-size: 1.1rem;
  color: #555;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}
.word i {
  margin-right: 5px;
}
.word:hover {
  color: #00bcd4;
}
.selected {
  font-weight: 600;
  color: #212121;
  border-bottom: 3px solid #00bcd4;
}
.gioi-thieu,
.hoi-thoai {
  background-color: transparent;
  padding: 10px;
}